{% extends "bootstrap/base.html" %}

{% block title %}torchbend{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %} 
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}


<div class="container">
<div class="page-header">
<h1>Bending {{ model }}!</h1> </div>

{% if name %}
Hello {{ name }} !!
{% endif %}
<form method="POST">
    {% import "bootstrap/wtf.html" as wtf %}
    {{ wtf.quick_form(form) }}
</form>


</div>
{% endblock %}