<div class="navbar navbar-inverse" role="navigation"> 
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/">torchbend</a> 
        </div>
        <div class="navbar-collapse collapse"> 
            <ul class="nav navbar-nav">
                <li>
                    <a href="/analyse">analyse</a>
                </li> 
                <li>
                    <a href="/bend">bend</a>
                </li> 
                <li>
                    <a href="/play">play</a>
                </li> 
                <li>
                    
                </li>
            </ul>
        </div>
        <div> 
            <select id="cars" name="cars">
                <!-- typically jinja2 ops here -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
        </div>
    </div>
</div>